:host {
  padding: 32px;
  background: #fff;
  border: 1px solid transparent;
  display: flex;
  position: absolute;
  width: 50vw;
  left: 0;
  right: 0;
  margin: auto;
  top: -200px;
  border-radius: 12px;
}
